{% extends 'app/base.twig' %}

{% block pagecontent %}
    <h3>Welcome to Ski Utah!</h3>
    <table class="table table-hover">
        <thead>
            <td colspan="3">Resort</td>
        </thead>
        <tbody>
            {% for resort in resorts %}
                <tr>
                    <td><a href="{{ baseurl }}/resort/{{ resort.getResortSlug() }}">{{ resort.getResortName() }}</a></td>
                    <td>Links</td>
                    <td><a target="_blank" href="http://forecast.weather.gov/MapClick.php?site=slc&smap=1&textField1={{ resort.getLatitude() }}&textField2={{ resort.getLongitude() }}">NWS</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}